* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url('./images/background.png');
  background-position: center;
  color: white;
}

header {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  margin-top: 16px;
}

header h1 {
  font-size: 2.8rem;
  font-weight: 500;
}

.solarSystem {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.solarSystem .titlePlanets {
  display: flex;
  font-size: 1.2rem;
  justify-content: center;
}

.planetsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.solarSystem .planetsContainer .planetCard {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 12px;
  position: relative;
}

.solarSystem .planetsContainer .planetCard .planetName {
  bottom: 0;
  position: absolute;
}

.solarSystem .planetCard p {
  padding-top: 5px;
}

.solarSystem .planetsContainer .planetCard img {
  width: 8em;
}

.solarSystem .planetsContainer .planetCard:nth-child( 1 ) img {
  width: 2em;
}

.solarSystem .planetsContainer .planetCard:nth-child( 2 ) img {
  width: 4em;
}

.solarSystem .planetsContainer .planetCard:nth-child( 3 ) img {
  width: 5em;
}

.solarSystem .planetsContainer .planetCard:nth-child( 4 ) img {
  width: 3.5em;
}

.solarSystem .planetsContainer .planetCard:nth-child( 5 ) img {
  width: 12em;
}

.solarSystem .planetsContainer .planetCard:nth-child( 6 ) img {
  width: 12em;
}

.missionsContainer {
  align-items: center;
  background: rgba(255, 255, 255, 0.103);
  border-radius: 20px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: auto;
  margin-bottom: 16px;
  margin-top: 80px;
  padding: 12px;
  width: 70%;
}

.missionsContainer .tituloMissões {
  display: flex;
  font-size: 1.2rem;
  justify-self: center;
}

.missionsContainer .todasAsMissoes {
  display: flex;
  flex-flow: row wrap;
  gap: 12px;
  justify-content: center;
}

.missionCard {
  background-color: rgba(0, 0, 0, 0.521);
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  height: 10em;
  justify-content: space-around;
  padding: 8px;
  width: 15em;
}

.missionCard p:nth-child( 1 ) {
  font-size: 1.5rem;
  font-weight: 700;
}
